html { overflow-x: hidden; }

.about {
    font-size: 16px;
    font-family: Tahoma;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-tabs {
    margin-bottom: 15px;
}

#caption-genre {
    color: #777;
}

#caption-genre:hover {
    color: #000;
}

#film-name {
    color: #000;
}

.video-film {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
}

.maim_name {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000;
}

.name_decription {
    margin-top: 0px;
    color: #000;
}

.description {
    padding-top: 50px;
}

.footer_word:link {
    color: #FFF;
    outline: none;
}

.footer_word:focus {
    text-decoration: none;
}

.footer_word:hover {
    text-decoration: none;
    color: #000000;
}

.footer_word:visited {
    text-decoration: none;
    color: #000000;
}

.footer_str {
    margin-top: 50px;
}

.footer {
    max-height: 180px;
    background: #00bed4;
}

.footer_social {
    padding-top: 20px;
}

.footer_container_left {
    max-width: 150px;
}

.text-center-nav {
    margin-bottom: 30px;
    text-align: center;
    max-width: 1140px;
}

.container_film {
    min-height: 370px;
    text-align: center;
}

.btn_nav {
    display: inline-block;
    margin: 4px;
    width: 32px;
    height: 32px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
}

.container-logobig {
    text-align: center;
}

.container-about-text {
    padding: 0px 50px 0px 50px;
}

.navbar-img {
    padding: 18px 15px 12px 15px;
}

.text-about {
    max-width: 800px;
    background: #FFF;
    opacity: 0.8;
    min-height: 500px;
}

.background-footer {
    background: url(/images/For_fons/Fon_e1.jpg);
}

.text-about-brand {
    opacity: 1;
    max-width: 800px;
    background: #FFF;
}

.navigations {
    height: 51px;
}

.rating {
	position: relative;
	width: 85px;
	height: 14px;
	margin: 0px;
	list-style: none;
	background: url(../images/rating-star.png);
}
.rating li {
	float: left;
	height: 14px;
}

.rating li.current {
	z-index: 1;
	background: url(../images/rating-star.png) left bottom;
}
.rating li span[class*="star"] {
	position: absolute;
	z-index: 5;
	display: block;
	width: 17px;
	height: 14px;
	cursor: pointer;
}
.rating li span[class*="star"]:hover {
	left: 0;
	z-index: 2;
	background: url(../images/rating-star.png) left bottom;
}

.rating li span.star1 {
	left: 0;
}
.rating li span.star1:hover {
	width: 17px;
}
.rating li span.star2 {
	left: 17px;
}
.rating li span.star2:hover {
	width: 34px;
}
.rating li span.star3 {
	left: 34px;
}
.rating li span.star3:hover {
	width: 51px;
}
.rating li span.star4 {
	left: 51px;
}
.rating li span.star4:hover {
	width: 68px;
}
.rating li span.star5 {
	left: 68px;
}
.rating li span.star5:hover {
	width: 85px;
}

.badge-style {
	position: relative;
	top: -4px;
	width: 29px;
	height: 14px;
	left: 53px;
    background: #00bed4;
}

.foo_word {
    color: #FFF;
}

.btn-outline {
    outline: none;
}
.container_matrix {
    min-height: 200px;
}

.dropdown:hover > .dropdown-menu { 
    display: block; 
}  
    


.ya-metrica {
	 padding-top: 20px;

}

.btn-series {
	width: 100px !important;
	margin: 5px;
}

.btn-series:hover
{
	background-color: #00bed4;
}

.series-word:link {
    color: #FFF;
    outline: none;
}

.series-word:focus {
    text-decoration: none;
}

.series-word:hover {
    text-decoration: none;
    color: #FFF;
}

.series-word:visited {
    text-decoration: none;
    color: #FFF;
}